.home {
  text-align: center;
  background: teal none repeat scroll 0% 0%;
  min-height: 100vh;

  &-logo {
    animation: home-logo-spin infinite 20s linear;
    height: 80px;
  }

  &-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  &-title {
    font-size: 1.5em;
  }

  &-intro {
    font-size: large;
  }

  a > button {
    margin-top: 2em;
  }
}

.icon {
  margin-top: 6px;
  margin-right: 6px;
}

.icon__box {
  display: flex;
  align-items: initial;
}
